@import "tailwindcss";

*{
    font-family: 'Poppins', sans-serif;
}

span{
    color: #0051ff;
}
.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hero-overlay {
  position: relative;
  z-index: 1;
  height: 100%;
  background: rgba(0, 0, 0, 0.295); /* dim overlay for readability */
}
